{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/first.css'%}">
    <title>Document</title>
</head>

<body>
    <h1>This is some paragraph</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quia nisi quasi repellendus nostrum voluptas voluptate doloremque minus similique ipsum voluptatibus, asperiores error delectus eos quisquam quod. Reiciendis, alias saepe?</p>
</body>

</html>